.idea/
*~
.bundle/
coverage/
vendor/

package/.osc/
package/SUSEConnect.5.gz
package/SUSEConnect.8.gz

SUSEConnect.5
SUSEConnect.8
Gemfile.lock
.yardoc/
*.png
suse-connect-*.gem
.vagrant/
.kitchen/
Vagrantfile
.oscrc
.regcode
.byebug_history
